/* ******************* */
/* ******************* */
/* ******************* */
/* MAINS */
/* ******************* */
/* ******************* */
/* ******************* */

html {
    overflow: hidden;
    background: black;
}
* {
    --radius: 24px;
    --energyburst: #ff9d00;
    --almostblack: #1f1f1f;
    --gray: #444444;
    --exitred: #ff5a46;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    scrollbar-width: none;
    touch-action: manipulation;
}
*::-webkit-scrollbar {
    display: none;
    opacity: 0;
}
.resizing *,
.resizing *::before,
.resizing *::after {
    transition: none !important;
}
span.hide {
    display: none;
}
.no_highlight {
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
video:fullscreen {
    object-fit: contain !important;
}

@media (max-width: 850px) {
    * {
        --radius: 24px;
    }
}
@media (max-width: 600px) {
    * {
        --radius: 15px;
    }
}
@media screen and (min-width: 1151px) and (max-height: 550px) {
    * {
        --radius: 15px;
    }
}
@media (min-aspect-ratio: 6/5) and (max-width: 1150px) {
    * {
        --radius: 15px;
    }
}
@font-face {
    font-family: "Analogie";
    src: url("assets/global/analogie.ttf");
}
@font-face {
    font-family: "Scene Runes";
    src: url("assets/global/scene_runes.ttf");
}
h3 {
    margin: 0;
    font-family: "Instrument Sans";
    font-weight: 550;
    font-variation-settings: "wdth" 75;
    color: white;
    font-size: 24px;
    transition: color 0.2s;
}
p {
    margin: 0;
    font-family: "Instrument Sans";
    font-weight: 550;
    font-variation-settings: "wdth" 75;
    letter-spacing: 0.05em;
    line-height: 1em;
}
.copy_content {
    display: none;
}

/* ******************* */
/* ******************* */
/* ******************* */
/* PANELS */
/* ******************* */
/* ******************* */
/* ******************* */

#panels {
    width: calc(100% - 120px);
    height: calc(100% - 16px);
    box-sizing: border-box;
    position: fixed;
    top: 16px;
    left: 16px;
    background: black;
    transition:
        height 0.2s,
        width 0.2s;
}

@media only screen and (max-width: 850px) and (max-aspect-ratio: 6/5) {
    #panels {
        left: 10px;
        top: 10px;
        width: calc(100% - 10px);
        height: calc(100% - 100px);
    }
}
@media only screen and (max-width: 600px) and (max-aspect-ratio: 6/5) {
    #panels {
        left: 5px;
        top: 5px;
        width: calc(100% - 5px);
        height: calc(100dvh - 80px);
    }
}
@media (min-aspect-ratio: 6/5) and (max-width: 1150px) {
    #panels {
        left: 10px;
        top: 10px;
        width: calc(100% - 120px);
        height: calc(100% - 10px);
    }
}
.panel {
    /* background: white; */
    border-radius: var(--radius);
    position: absolute;
    transition:
        left 0.5s cubic-bezier(0.8, 0, 0.2, 1),
        top 0.5s cubic-bezier(0.8, 0, 0.2, 1),
        width 0.5s cubic-bezier(0.8, 0, 0.2, 1),
        height 0.5s cubic-bezier(0.8, 0, 0.2, 1),
        box-shadow 0.2s,
        transform 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71);
}
@media (hover: hover) {
    .panel:hover {
        transform: scale(1.02);
        z-index: 1;
    }
    .panel.open:hover {
        transform: scale(1);
    }
}
@media (hover: none) {
    .panel:active {
        transform: scale(1.02);
        z-index: 1;
    }
    .panel.open:active {
        transform: scale(1);
    }
    .panel.open {
        animation: quickScale 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71);
    }
}

@keyframes quickScale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}

.panel video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--radius);
}
.panel .open_btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.panel .exit_btn {
    position: absolute;
    top: 14px;
    right: 14px;
    width: 70px;
    height: 70px;
    opacity: 0;
    cursor: pointer;
    pointer-events: none;
    z-index: 1001;
    border-color: var(--exitred);
}
.panel.open .exit_btn {
    transition:
        opacity 0.2s 0.3s,
        background 0.2s,
        border-color 0.2s;
}
.panel .exit_btn h3 {
    font-weight: 500;
    font-variation-settings: "wdth" 100;
    color: var(--exitred);
}
@media (hover: hover) {
    .panel .exit_btn:hover {
        background: var(--exitred);
        border-color: white;
    }
    .panel .exit_btn:hover h3 {
        color: white;
    }
}
@media (hover: none) {
    .panel .exit_btn:active {
        background: var(--exitred);
        border-color: white;
    }
    .panel .exit_btn:active h3 {
        color: white;
    }
    .panel.open .exit_btn {
        animation: none;
    }
    .panel .exit_btn {
        animation: exit_pulse 0.2s;
    }
}
@keyframes exit_pulse {
    0% {
        background: black;
        border-color: var(--exitred);
    }
    50% {
        background: var(--exitred);
        border-color: white;
    }
    100% {
        background: black;
        border-color: var(--exitred);
    }
}

.panel.open {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
[partofthumb="true"] {
    transition: opacity 0.1s 0.2s;
    pointer-events: none;
}
.panel.open [partofthumb="true"] {
    transition: opacity 0.1s 0.35s;
    pointer-events: none;
}
.panel.open [partofthumb="true"],
.panel.open div.tooltip[partofthumb="true"] {
    opacity: 0;
}
.panel.closing div.tooltip[partofthumb="true"] {
    opacity: 0;
}

.panel.open .open_btn,
.panel.shifted .open_btn {
    pointer-events: none;
}
.panel.open .exit_btn {
    opacity: 1;
    pointer-events: auto;
}
.panel.shifted {
    opacity: 0;
    transition:
        left 0.5s cubic-bezier(0.8, 0, 0.2, 1),
        top 0.5s cubic-bezier(0.8, 0, 0.2, 1),
        width 0.5s cubic-bezier(0.8, 0, 0.2, 1),
        height 0.5s cubic-bezier(0.8, 0, 0.2, 1),
        box-shadow 0.2s,
        transform 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71),
        opacity 0.5s 0.5s;
}
.thumb_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}
.panel .background_layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: var(--radius);
}
.panel .open_content {
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.1s 0.2s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.panel.open .open_content {
    pointer-events: auto;
    opacity: 1;
    transition: opacity 0.1s 0.35s;
}
.panel .main_content_scroll {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
@media only screen and (max-width: 850px) {
    .panel .exit_btn {
        width: 60px;
        height: 50px;
        border-radius: 10px;
        top: 10px;
        right: 10px;
        padding: 5px;
    }
}


/* ******************* */
/* ******************* */
/* ******************* */
/* MAIN METADATA */
/* ******************* */
/* ******************* */
/* ******************* */

#main_metadata {
    position: fixed;
    top: 0;
    right: 0;
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 16px 0;
    box-sizing: border-box;
}
#main_metadata button {
    all: unset;
    padding: 24px;
    border-radius: var(--radius);
    cursor: pointer;
    transition: background 0.3s;
    position: relative;
}
#main_metadata button a {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--radius);
    width: 100%;
    height: 100%;
}
@media (hover:hover) {
    #main_metadata button:hover {
        background: #242424;
    }
}
@media (hover:none) {
    #main_metadata button:active {
        background: #242424;
    }
}
#main_metadata svg {
    width: 30px;
}
#main_metadata svg path {
    fill: white;
}
#main_metadata .switch_off {
    display: none;
}
body[data-captions="false"] #main_metadata .switch_on {
    display: none;
}
body[data-captions="false"] #main_metadata .switch_off {
    display: unset;
}
#main_metadata .switch_on {
    fill: var(--energyburst);
}
#main_metadata .action_tread path {
    fill: var(--gray);
}
#main_metadata #action_tread_short {
    display: none;
}
#main_metadata svg.horiz {
    display: none;
}
@media only screen and (min-width: 1151px) and (max-height: 740px) {
    #main_metadata #action_tread_short {
        display: unset;
    }
    #main_metadata #action_tread_long  {
        display: none;
    }
}
@media only screen and (min-width: 1151px) and (max-height: 640px) {
    #main_metadata #action_tread_short {
        display: none;
    }
    #main_metadata button {
        padding: 10px 24px;
    }
}
@media only screen and (min-width: 1151px) and (max-height: 500px) {
    #main_metadata #scene_button svg path:nth-child(n + 2) {
        display: none;
    }
    #main_metadata #scene_button {
        height: 40px;
        overflow: hidden;
    }
}

/* MOBILE */
@media (min-aspect-ratio: 6/5) and (max-width: 1150px) {
    #main_metadata {
        width: 80px;
    }
    #panels {
        width: calc(100% - 80px);
    }
    #main_metadata .action_tread {
        display: none;
    }
    #main_metadata button {
        padding: 10px 20px;
    }
    #main_metadata svg{
        width: 20px
    }
}
@media (min-aspect-ratio: 6/5) and (max-height: 360px) {
    #main_metadata #scene_button svg path:nth-child(n + 2) {
        display: none;
    }
    #main_metadata #scene_button {
        height: 40px;
        overflow: hidden;
    }
}
@media (max-width: 850px) and (max-aspect-ratio: 6/5) {
    #main_metadata {
        width: 100%;
        height: 100px;
        /* background: red; */
        top: unset;
        bottom: 0;
        flex-direction: row-reverse;
        padding: 0 10px;
    }
    #main_metadata svg.vert {
        display: none;
    }
    #main_metadata svg.horiz {
        display: unset;
    }
    #main_metadata svg {
        width: unset;
        height: 30px;
        margin-bottom: -3px;
    }
}
@media only screen and (max-width: 600px) and (max-aspect-ratio: 6/5) {
    #main_metadata {
        height: 80px;
        padding: 0 5px;
    }
    #main_metadata button {
        padding: 16px;
    }
    #main_metadata svg {
        height: 24px;
    }
}


/* ******************* */
/* ******************* */
/* ******************* */
/* TOOLTIP */
/* ******************* */
/* ******************* */
/* ******************* */

.chip {
    position: absolute;
    display: inline-block;
    pointer-events: none;
    border-radius: 15px;
    border: 2px solid white;
    background: black;
    height: auto;
    z-index: 1000;
    padding: 10px 14px;
    box-sizing: border-box;
    transition:
        opacity 0.2s,
        background 0.2s;
}
.tooltip {
    left: 14px;
    bottom: 14px;
    opacity: 0;
    white-space: nowrap;
}
@media (hover: hover) {
    .panel:hover .tooltip {
        opacity: 1;
    }
}
@media (hover: none) {
    .panel:active .tooltip {
        opacity: 1;
    }
}

/* ******************* */
/* ******************* */
/* ******************* */
/* VIEWPORT BUTTON */
/* ******************* */
/* ******************* */
/* ******************* */

.viewport_button {
    all: unset;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 36px;
    box-sizing: border-box;
    position: relative;
    border-radius: var(--radius);
    transition:
        box-shadow 0.2s,
        transform 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71);
    box-shadow: inset 0 0 0 2px #00000000;
    gap: 20px;
}
@media (hover: hover) {
    .viewport_button:hover {
        box-shadow: inset 0 0 0 2px white;
    }
    .viewport_button:active {
        transform: scale(0.98);
    }
}
@media (hover: none) {
    .viewport_button:active {
        box-shadow: inset 0 0 0 2px white;
    }
}
.viewport_button .spectrum {
    flex: 1;
    height: 3px;
    background: white;
    border-radius: 10px;
}

/* ******************* */
/* ******************* */
/* INLINE BUTTONS */
/* ******************* */
/* ******************* */

button.inline_button {
    all: unset;
    padding: 10px 16px;
    border-radius: 19px;
    border: 2px solid var(--gray);
    cursor: pointer;
    box-sizing: border-box;
    margin: 0 20px 0 -8px;
    height: 50px;
    position: relative;
    transition: transform 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71);
}
.inline_button_container {
    display: block;
    white-space: nowrap;
}
button.inline_button p {
    color: white;
}
button.inline_button.emphasis {
    background: #ff9d0033;
    border: none;
}
button.inline_button.emphasis p,
button.inline_button.emphasis div {
    color: var(--energyburst);
}
button.inline_button.emphasis.white {
    background: white;
}
button.inline_button.emphasis.white p {
    color: black;
}

button.inline_button a {
    all: unset;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (hover: hover) {
    button.inline_button:hover {
        transform: scale(1.02);
    }
    button.inline_button:active {
        transform: scale(0.98);
    }
    button.inline_button.emphasis:hover {
        background: var(--energyburst);
    }
    button.inline_button.emphasis:hover p,
    button.inline_button.emphasis:hover div {
        color: black;
    }
}
@media (hover: none) {
    button.inline_button:active {
        transform: scale(1.02);
    }
    button.inline_button:active {
        transform: scale(0.98);
    }
    button.inline_button.emphasis:active {
        background: var(--energyburst);
    }
    button.inline_button.emphasis:active p {
        color: black;
    }
}
button.inline_button p {
    display: inline-block;
}
button.inline_button .tab svg {
    height: 15px;
    display: inline-block;
}
button.inline_button .tab svg path {
    fill: white;
}
.button_tabs {
    display: inline-block;
    margin-left: 10px;
}
.button_tabs .tab {
    display: inline-block;
    width: 28px;
    text-align: center;
    position: relative;
    height: 40px;
    box-sizing: border-box;
    margin: -20px 0 -20px 7px;
}
.button_tabs .tab div {
    top: 0;
    position: absolute;
}
.button_tabs .tab.active {
    border-bottom: 2px solid var(--energyburst);
}
.button_tabs .tab.active svg path {
    fill: var(--energyburst);
}
.inline_button.square {
    width: 50px;
    height: 50px;
    margin: 0;
    display: flex;
    justify-content: center;
}

/* ******************* */
/* ******************* */
/* ******************* */
/* FIX SCALE MESSAGE */
/* ******************* */
/* ******************* */
/* ******************* */

.fix_scale_message {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
}
.fix_scale_message img {
    height: 24px;
    margin-top: 20px;
}
.fix_scale_message span {
    max-width: 550px;
}
.fix_scale_message h1 {
    font-size: 50px;
    color: white;
    margin: 0 0 10px 0;
    font-family: "Instrument Serif";
    font-weight: normal;
}
.fix_scale_message h1::before {
    content: "It's not you, it's us";
}
.fix_scale_message p {
    font-size: 24px;
    color: var(--energyburst);
    margin: 0;
    font-family: "Instrument Sans";
    letter-spacing: 0;
    font-weight: 400;
    line-height: 1.1em;
}
.fix_scale_message p::before {
    content: "We haven't designed an experience for that screen size yet. If you can, try resizing your window or rotating your device.";
}
@media (min-aspect-ratio: 22/5) {
    .fix_scale_message {
        opacity: 1;
        pointer-events: auto;
    }
}

@media (max-aspect-ratio: 5/6) and (min-width: 1151px) {
    .fix_scale_message {
        opacity: 1;
        pointer-events: auto;
    }
}

/* ******************* */
/* ******************* */
/* ******************* */
/* BUTTON STRIP */
/* ******************* */
/* ******************* */
/* ******************* */

.button_strip {
    display: flex;
    width: 100%;
    margin: 0 0 25px;
    position: relative;
    overflow: scroll;
}
.button_strip::after {
    content: "";
    position: absolute;
    left: 0;
    height: 40%;
    width: 2px;
    top: 30%;
    opacity: 0.2;
    background-color: var(--energyburst);
}
.button_strip button {
    all: unset;
    display: inline-block;
    text-align: center;
    padding: 12px 20px;
    color: var(--energyburst);
    position: relative;
    cursor: pointer;
}
.button_strip button div {
    color: var(--energyburst);
}
.button_strip button::after {
    content: "";
    position: absolute;
    right: -1px;
    height: 40%;
    width: 2px;
    top: 30%;
    opacity: 0.2;
    background-color: var(--energyburst);
}
.button_strip button::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 4px;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    opacity: 0;
    background-color: var(--energyburst);
    border-radius: 6px;
    transition: transform 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71);
}
@media (hover: hover) {
    .button_strip button:hover::before {
        opacity: 0.1;
        transform: scale(1.02);
    }
    .button_strip button:active::before {
        transform: scale(0.98);
    }
}
@media (hover: none) {
    .button_strip button:active::before {
        opacity: 0.1;
        transform: scale(1.02);
    }
}

/* ******************* */
/* ******************* */
/* ******************* */
/* SLIDER */
/* ******************* */
/* ******************* */
/* ******************* */

.custom_slider {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0 20px -8px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.custom_slider .track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background: var(--gray);
    border-radius: 3px;
    pointer-events: none;
}
.custom_slider .notches {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}
.custom_slider .notch {
    width: 8px;
    height: 8px;
    background: var(--gray);
    border-radius: 50%;
}
.custom_slider .slider_fill_container {
    position: relative;
    flex: 1;
    height: 50px;
}
.custom_slider .slider_fill {
    position: absolute;
    top: 0;
    height: 50px;
    background: #331a00;
    color: orange;
    border-radius: 20px;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    padding: 0 30px 0 10px;
    white-space: nowrap;
    min-width: 55px;
    pointer-events: none;
    box-sizing: border-box;
    transition:
        transform 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71),
        background 0.2s;
}
.custom_slider .slider_fill.snapped {
    transform: scale(1.01);
    background: #442300;
}
.custom_slider .slider_fill::after {
    content: "";
    width: 6px;
    height: 6px;
    position: absolute;
    top: calc(50% - 3px);
    right: 8px;
    border-radius: var(--radius);
    background: var(--energyburst);
}
.custom_slider .handle_zone {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    touch-action: none;
}
.inline_button.slider_button {
    margin: 0;
    background: black;
    width: 50px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom_slider .inline_button.slider_button[type="add"] {
    margin-left: 10px;
}

/* VERTICAL SLIDER */

.vert_slider {
    display: flex;
    flex-direction: column;
    width: 50px;
}
.vert_slider input {
    all: unset;
    color: var(--energyburst);
    font-family: "Instrument Sans";
    font-weight: 550;
    font-variation-settings: "wdth" 75;
    letter-spacing: 0.05em;
    line-height: 1em;
    text-align: center;
    white-space: nowrap;
    width: 46px;
    border: 2px solid var(--gray);
    z-index: -1;
    padding: 60px 0;
    margin: -50px 0;
    border-radius: var(--radius);
    pointer-events: none;
}
.vert_slider p {
    color: white;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    pointer-events: none;
}
.vert_slider .inline_button.slider_button[type="add"] {
    border-radius: var(--radius) var(--radius) 0 0;
}
.vert_slider .inline_button.slider_button[type="subtract"] {
    border-radius: 0 0 var(--radius) var(--radius);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

/* ******************* */
/* ******************* */
/* ******************* */
/* CORNERS */
/* ******************* */
/* ******************* */
/* ******************* */

.corner_container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
.corner {
    position: absolute;
    width: 30px;
    height: 30px;
    border: 2px solid var(--gray);
    transition:
        border-color 0.2s,
        top 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71),
        left 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71),
        right 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71),
        bottom 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71),
        border-radius 0.2s;
}
.corner.top_left {
    border-right: none;
    border-bottom: none;
    border-radius: var(--radius) 0 0 0;
    top: 0;
    left: 0;
}
.corner.top_right {
    border-left: none;
    border-bottom: none;
    border-radius: 0 var(--radius) 0 0;
    top: 0;
    right: 0;
}
.corner.bottom_left {
    border-right: none;
    border-top: none;
    border-radius: 0 0 0 var(--radius);
    bottom: 0;
    left: 0;
}
.corner.bottom_right {
    border-left: none;
    border-top: none;
    border-radius: 0 0 var(--radius) 0;
    bottom: 0;
    right: 0;
}

@media (hover: hover) {
    .viewport_button:hover .corner.top_left {
        left: -5px;
        top: -5px;
        border-top-left-radius: calc(var(--radius) + 5px);
    }
    .viewport_button:hover .corner.top_right {
        right: -5px;
        top: -5px;
        border-top-right-radius: calc(var(--radius) + 5px);
    }
    .viewport_button:hover .corner.bottom_left {
        left: -5px;
        bottom: -5px;
        border-bottom-left-radius: calc(var(--radius) + 5px);
    }
    .viewport_button:hover .corner.bottom_right {
        right: -5px;
        bottom: -5px;
        border-bottom-right-radius: calc(var(--radius) + 5px);
    }
}
@media (hover: none) {
    .viewport_button:active .corner.top_left {
        left: -5px;
        top: -5px;
        border-top-left-radius: calc(var(--radius) + 5px);
    }
    .viewport_button:active .corner.top_right {
        right: -5px;
        top: -5px;
        border-top-right-radius: calc(var(--radius) + 5px);
    }
    .viewport_button:active .corner.bottom_left {
        left: -5px;
        bottom: -5px;
        border-bottom-left-radius: calc(var(--radius) + 5px);
    }
    .viewport_button:active .corner.bottom_right {
        right: -5px;
        bottom: -5px;
        border-bottom-right-radius: calc(var(--radius) + 5px);
    }
}

/* ******************* */
/* ******************* */
/* ******************* */
/* THUMB SPECIFICS */
/* ******************* */
/* ******************* */
/* ******************* */

/* COLOR PANEL */

.panel[id="color"] .thumb_content h1 {
    all: unset;
    font-family: "Instrument Sans";
    letter-spacing: -0.03em;
    font-size: 4.5vh;
    font-weight: 400;
    font-variation-settings: "wdth" 90;
    padding: 20px 24px 20px 16px;
    box-sizing: border-box;
    width: 80%;
    display: block;
    line-height: 1em;
}
.panel[id="color"] .thumb_content p {
    all: unset;
    position: absolute;
    left: 16px;
    bottom: 20px;
    font-size: 15px;
    font-family: "Analogie";
    text-rendering: geometricprecision;
}
@media only screen and (max-width: 850px) {
    .panel[id="color"] .thumb_content h1 {
        font-size: 3.5vh;
    }
}
@media only screen and (max-width: 1150px) and (max-height: 690px) {
    .panel[id="color"] .thumb_content p {
        display: none;
    }
}

/* ANALOGIE PANEL */
#analogie_char_container {
    display: grid;
    width: calc(100% - 48px);
    height: calc(100% - 48px);
    position: absolute;
    top: 24px;
    left: 24px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
#analogie_char_container div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.5vh;
    color: #d2ff00;
    font-family: "Analogie";
    text-rendering: geometricprecision;
}
#analogie_char_container p {
    all: unset;
}

@media screen and (max-width: 1150px) {
    #analogie_char_container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    #analogie_char_container div {
        font-size: 3.5vh;
    }
}
@media only screen and (max-width: 1150px) and (max-height: 850px) {
    #analogie_char_container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        font-size: 4vh;
    }
}
@media (min-aspect-ratio: 6/5) and (max-width: 1150px) {
    #analogie_char_container {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
}

/* INSTRUMENT PANEL */
#instrument_char_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
#instrument_char_container p {
    all: unset;
    width: 100%;
    display: block;
    font-size: 10vh;
    font-family: "Instrument Serif";
}
#instrument_char_container p span {
    color: white;
    animation: pulse 1s infinite steps(1, end);
}
@keyframes pulse {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media screen and (max-width: 1150px) {
    #instrument_char_container p {
        font-size: 5.5vw;
    }
}
@media only screen and (max-width: 1150px) and (max-height: 850px) {
    #instrument_char_container p {
        font-size: 4vh;
    }
}
/* JOBS PANEL */
.panel[id="jobs"] .thumb_content {
    display: flex;
    flex-direction: column;
}
.panel[id="jobs"] .thumb_content div {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.panel[id="jobs"] .thumb_content div:nth-child(1) {
    border-bottom: 2px solid black;
}
.panel[id="jobs"] .thumb_content h1 {
    all: unset;
    width: 100%;
    display: block;
    font-size: 3vh;
    font-family: "Analogie";
    text-rendering: geometricprecision;
    color: white;
    padding: 0 20px 0 16px;
    box-sizing: border-box;
    text-align: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.panel[id="jobs"] .thumb_content h1 .title {
    max-width: calc(100% - 40px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.panel[id="jobs"] .thumb_content h1.future {
    font-family: "Instrument Serif";
}
svg.arrow_icon {
    width: 3vh;
    vertical-align: middle;
}
svg.arrow_icon path {
    fill: var(--energyburst);
}
.panel[id="jobs"] .thumb_content h1.past svg.arrow_icon {
    transform: scaleX(-1);
}

/* APPLE */
@supports (hanging-punctuation: first) and (font: -apple-system-body) and
    (-webkit-appearance: none) {
}

@media screen and (max-width: 1150px) {
    .panel[id="jobs"] .thumb_content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    .panel[id="jobs"] .thumb_content div {
        flex: unset;
    }
    .panel[id="jobs"] .thumb_content h1 {
        width: auto;
        display: inline-block;
        text-align: left;
        padding: 0;
        font-size: 2vw;
        white-space: nowrap;
    }
    .panel[id="jobs"] .thumb_content div:nth-child(1) {
        border: none;
    }
    svg.arrow_icon {
        margin: -3px 6px 0 0;
        height: 10px;
    }
}
@media only screen and (max-width: 650px) {
    .panel[id="jobs"] .thumb_content {
        gap: 5px;
    }
    .panel[id="jobs"] .thumb_content h1 {
        font-size: 6.5vw;
    }
    .panel[id="jobs"] .thumb_content h1.future svg.arrow_icon path {
        fill: white;
    }

    .panel[id="jobs"] .thumb_content h1 span.title {
        display: none;
    }
}
@media (min-aspect-ratio: 6/5) and (max-width: 1150px) {
    .panel[id="jobs"] .thumb_content {
        flex-direction: column;
        justify-content: center;
        align-items: left;
    }
    .panel[id="jobs"] .thumb_content div {
        width: 100%;
    }
    .panel[id="jobs"] .thumb_content h1 {
        width: 100%;
        display: flex;
        padding: 0 10px;
        font-size: 3vh;
    }
    .
}
@media (min-aspect-ratio: 9/5) and (max-width: 1150px) {
    .panel[id="jobs"] .thumb_content {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5px;
    }
    .panel[id="jobs"] .thumb_content div {
        flex: unset;
        width: auto;
    }
    .panel[id="jobs"] .thumb_content h1 {
        width: auto;
        padding: 0;
        white-space: nowrap;
    }
    .panel[id="jobs"] .thumb_content h1.future svg.arrow_icon path {
        fill: white;
    }
    .panel[id="jobs"] .thumb_content h1 span.title {
        display: none;
    }
}

/* RUNES PANEL */
.panel[id="runes"] #runes_blur {
    width: 100%;
    height: calc(21%);
    position: absolute;
    top: 0;
    left: 0;
    background: #00000000;
    border-radius: var(--radius) var(--radius) 0 0;
    backdrop-filter: blur(10px);
}
.panel[id="runes"] .thumb_video {
    object-fit: contain;
}
.panel[id="runes"] #runes_container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border: 0.3vh solid white;
    border-radius: var(--radius);
    overflow: hidden;
    opacity: 0.3;
}
.panel[id="runes"] #runes_container .action_bar {
    width: 100%;
    height: 9%;
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    border-bottom: 0.3vh solid white;
    border-radius: calc(var(--radius) - 3px) calc(var(--radius) - 3px) 0 0;
    background: url("assets/global/action_area.webp");
    background-size: 7vh;
    animation: action_bar 2s infinite linear;
}
.panel[id="runes"] #runes_container .action_identifier {
    width: 100%;
    padding: 2% 16px;
    height: 12%;
    box-sizing: border-box;
    top: 9%;
    left: 0;
    position: absolute;
    border-bottom: 0.3vh solid white;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.panel[id="runes"] #runes_container .action_identifier p {
    all: unset;
    font-family: "Instrument Sans";
    font-size: 2.5vh;
    font-variation-settings: "wdth" 75;
    letter-spacing: 0.1em;
    font-weight: 550;
    color: white;
}
@keyframes action_bar {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 7vh 0;
    }
}
@media only screen and (max-width: 1150px) {
    .panel[id="runes"] #runes_container .action_identifier {
        display: none;
    }
    .panel[id="runes"] #runes_container .action_bar {
        height: 21%;
    }
}
@media only screen and (max-width: 850px) {
    .panel[id="runes"] .thumb_video {
        object-fit: cover;
    }
}
@media (min-aspect-ratio: 6/5) and (max-width: 1150px) {
    .panel[id="runes"] #runes_container .action_bar {
        height: 12%;
    }
    .panel[id="runes"] #runes_blur {
        height: 12%;
    }
}

/* METADATA PANEL */
.panel[id="metadata"] .thumb_content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 3vw 0;
    box-sizing: border-box;
    gap: 2vw;
}
.panel[id="metadata"] .thumb_content img {
    width: 2vw;
    max-width: 28px;
    min-width: 15px;
}
@media only screen and (max-width: 850px) {
    .panel[id="metadata"] .thumb_content {
        padding: 30px 0;
    }
}
/* BACKSTORY PANEL */
.panel[id="backstory"] video[partofthumb="true"] {
    object-fit: contain;
    object-position: bottom;
}

/* ******************* */
/* ******************* */
/* ******************* */
/* CONTENT SPECIFICS */
/* ******************* */
/* ******************* */
/* ******************* */

/* MAIN VIDEO */

.panel[id="video"] .thumb_content {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}

.panel[id="video"] .thumb_content[partofthumb="true"] {
    opacity: 1;
}
.panel[id="video"].open .thumb_content[partofthumb="true"] {
    pointer-events: auto;
}

#main_video_container {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition:
        height 0.5s cubic-bezier(0.75, 0, 0.25, 1),
        padding-top 0.5s cubic-bezier(0.75, 0, 0.25, 1);
}

#main_video_container.aspected {
    padding-top: calc((100% * 9) / 16);
    height: 0px;
}
#main_video_container .video_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#main_video_container .video_inner video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: unset;
    left: unset;
    max-height: calc(100vh - 32px);
}

/* COLOR PANEL */
.panel[id="color"] .viewport_button {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}
.panel[id="color"] .viewport_button .spectrum {
    background: linear-gradient(to right, white, var(--energyburst));
}
#color_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 1.5fr 100px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    gap: 10px;
}
#color_grid .color_cell p {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: calc(100% - 40px);
}
#color_grid .color_cell {
    border-radius: var(--radius);
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: transform 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71);
}
@media (hover: hover) {
    #color_grid .color_cell:hover {
        transform: scale(1.02);
    }
    #color_grid .color_cell:active {
        transform: scale(1);
    }
}
@media (hover: none) {
    #color_grid .color_cell:active {
        transform: scale(1.01);
    }
}
.color_cell[color_name="black"] {
    background: black;
    color: white;
    border: 2px solid var(--gray);
}
.color_cell[color_name="white"] {
    background: white;
}
.color_cell[color_name="energy_burst"] {
    background: var(--energyburst);
}
.color_cell[color_name="white_spectrum"] {
    background: linear-gradient(to top, var(--energyburst), white);
}
.color_cell[color_name="black_spectrum"] {
    background: linear-gradient(
        to bottom,
        var(--energyburst),
        var(--almostblack)
    );
    color: white;
}
.color_cell[color_name="grayscale"] {
    background: linear-gradient(to top, white, var(--almostblack));
}
@media only screen and (max-width: 850px) {
    #color_grid {
        gap: 5px;
    }
    #color_grid .color_cell p {
        bottom: 16px;
        left: 16px;
    }
}
@media (min-aspect-ratio: 6/5) and (max-width: 1150px) {
    #color_grid {
        grid-template-rows: 1fr 1fr 100px;
    }

}

/* INSTRUMENT PANEL */
.panel#instrument .open_content .main_content_scroll {
    padding: 36px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.panel#instrument .open_content p.caption {
    color: white;
}
textarea {
    padding: 0;
    font-size: 74px;
    color: white;
    background: none;
    border: none;
    resize: none;
    outline: none;
    width: 100%;
    line-height: 1;
    margin: 20px 0 30px 0;
    height: 160px;
}
.panel.open textarea {
    opacity: 1;
    animation: fadeIn 0.5s 0.6s both;
}
.panel#instrument textarea {
    font-family: "Instrument Serif";
}
.panel#instrument textarea[version="sans"] {
    font-family: "Instrument Sans";
    font-variation-settings: "wdth" 75;
}
@media only screen and (max-width: 1150px) {
    textarea {
        font-size: 50px;
        height: 110px;
        margin-bottom: 20px;
    }
    .panel#instrument .open_content .main_content_scroll {
        padding: 28px 24px;
    }
}

/* ANALOGIE PANEL */
.panel#analogie .open_content .main_content_scroll {
    padding: 36px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.panel[id="analogie"] .open_content p.caption {
    color: white;
}
.panel#analogie textarea {
    font-family: "Analogie";
    text-rendering: geometricPrecision;
    height: 145px;
}
@media only screen and (max-width: 1150px) {
    .panel#analogie .open_content .main_content_scroll {
        padding: 28px 24px;
    }
    .panel#analogie textarea {
        height: 100px;
    }
}

/* DYNAMICS PANEL */

.panel#dynamics .open_content .main_content_scroll {
    padding: 36px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.panel#dynamics h1 {
    all: unset;
    color: white;
    font-family: "Scene Runes";
    font-size: 120px;
    position: relative;
    z-index: 1;
}
#dynamic_logo_container {
    position: relative;
    margin-bottom: 20px;
}
#dynamic_logo_container .guide_lines {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 15%;
    display: flex;
    pointer-events: none;
    flex-direction: column;
    justify-content: space-between;
}
#dynamic_logo_container .guide_lines div {
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, #242424, #242424, transparent);
}
@media only screen and (max-width: 1150px) {
    .panel#dynamics h1 {
        font-size: 80px;
    }
    .panel#dynamics .open_content .main_content_scroll {
        padding: 28px 24px;
    }
}

/* METADATA PANEL */

.panel#metadata .open_content .main_content_scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.panel#metadata .all_content {
    position: relative;
}
.panel#metadata .inline_button.emphasis {
    padding-top: 30px;
    padding-bottom: 30px;
    height: auto;
}
.panel#metadata .open_content .right_content {
    position: absolute;
    right: -70px;
    top: 0;
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
}
.panel#metadata .open_content .left_content {
    position: absolute;
    left: -65px;
    top: 0;
    width: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.panel#metadata .specialty {
    display: unset !important;
    opacity: 1;
    pointer-events: auto;
    width: calc(100% + 4px);
    right: -2px;
    top: -2px;
    border-radius: var(--radius) var(--radius) 0 0;
    height: 56px;
    border-color: var(--gray);
}

.panel#metadata .exit_btn {
    display: none;
}
.panel#metadata.open .open_content .right_content,
.panel#metadata.open .open_content .left_content {
    opacity: 1;
    animation: fadeIn 0.3s 0.6s both;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.left_content .button_strip {
    flex-direction: column;
    overflow: visible;
}
.left_content .button_strip button::after {
    right: 30%;
    height: 2px;
    width: 40%;
    top: unset;
    bottom: 0;
}
.left_content .button_strip::after {
    opacity: 0;
}
.left_content .button_strip button {
    padding: 20px 12px;
}
.vt_canvas_wrapper {
    border-radius: var(--radius);
    border: 2px solid var(--gray);
    border-radius: var(--radius);
    height: fit-content;
    top: 0;
    box-sizing: border-box;
    position: relative;
}
.vt_canvas_wrapper .scroller {
    padding: 80px 20px 20px;
    border-radius: var(--radius);
    max-height: calc(100dvh - 32px);
    height: fit-content;
    overflow-y: scroll;
    box-sizing: border-box;
    position: relative;
}
.vt_canvas_wrapper svg {
    display: block;
    cursor: text;
}
.vt_canvas_wrapper svg path {
    fill: white;
}
#vt_clickable_container {
    position: absolute;
    top: 80px;
    left: 20px;
    pointer-events: none;
}
#vt_clickable_container div {
    cursor: text;
}
#vt_hidden_input {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    height: 1px;
    width: 1px;
}

.vt_buttons button {
    margin-right: 5px;
}
@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.cursor {
    animation: blink 1s 0.3s step-start infinite;
    fill: var(--energyburst);
}
.highlight-all {
    fill: #ff9d0070;
}
.placeholder {
    fill: gray;
    opacity: 0.5;
}
@media only screen and (max-width: 1150px) {
    .vt_canvas_wrapper .scroller {
        max-height: calc(80dvh - 32px);
    }
}

/* JOBS PANEL */

.panel#jobs .open_content .main_content_scroll {
    padding: 36px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.panel#jobs .open_content h1 {
    color: white;
    margin: 0;
    font-size: 90px;
    font-family: "Instrument Serif";
    font-weight: normal;
    line-height: 1em;
}
.panel#jobs .open_content h1[type="past"] {
    font-family: "Analogie";
    color: var(--energyburst);
}
.panel#jobs .open_content h1:nth-child(3) {
    margin-bottom: 30px;
}
.panel#jobs .open_content p.caption {
    color: white;
    margin-bottom: 20px;
}
@media only screen and (max-width: 1150px) {
    .panel#jobs .open_content .main_content_scroll {
        padding: 28px 24px;
    }
    .panel#jobs .open_content h1 {
        font-size: 70px;
    }
}

/* RUNES PANEL */

.panel#runes .open_content .main_content_scroll {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 100px;
    grid-gap: 10px;
}
.panel#runes .viewport_button {
    grid-column: 1 / 3;
}
.panel#runes .open_content[time="future"] .viewport_button p::before {
    content: "FUTURE";
}
.panel#runes .open_content[time="present"] .viewport_button p::before {
    content: "PRESENT";
}
.panel#runes .open_content[time="past"] .viewport_button p::before {
    content: "PAST";
}
.panel#runes .open_content[time="future"] .viewport_button .spectrum {
    background: linear-gradient(to right, #d2ff00, #89b1ab, #281485, #fe4f11);
}
.panel#runes .open_content[time="present"] .viewport_button .spectrum {
    background: white;
}
.panel#runes .open_content[time="past"] .viewport_button .spectrum {
    background: #d2ff00;
}
.panel#runes .rune_container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    border: 2px solid var(--gray);
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    transition:
        transform 0.2s cubic-bezier(0.17, 0.67, 0.29, 2.71),
        background 0.2s;
}
.panel#runes .rune_container .rune_centerer {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    aspect-ratio: 1;
    position: relative;
}

.rune_container video {
    object-fit: contain;
    z-index: -1;
    position: absolute;
    opacity: 0;
}
.rune_container.sprout video {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}
.rune_container.loop video {
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
}
.rune_container.flame video {
    width: 65%;
    top: -11%;
    left: 11%;
}
.rune_container a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: pointer;
}
.rune_centerer svg {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
@keyframes shrink {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.7);
    }
}
.rune_centerer div {
    position: absolute;
    opacity: 0;
    pointer-events: none;
    font-size: 100px;
    display: flex;
    line-height: 0.3em;
    text-align: center;
    justify-content: center;
}
.rune_container.sprout svg {
    width: 50%;
    top: 20%;
}

.rune_container.loop svg {
    width: 64%;
}

.rune_container.portal svg {
    width: 89%;
}

.rune_container.flame svg {
    width: 40%;
}

.panel#runes .open_content[time="future"] .rune_centerer video {
    opacity: 1;
}
.panel#runes .open_content[time="present"] .rune_centerer svg {
    animation: shrink 0.3s cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: both;
    opacity: 1;
}
.panel#runes .open_content[time="past"] .rune_centerer div {
    animation: shrink 0.3s cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: both;
    opacity: 1;
}
.panel#runes .open_content[time="past"] .rune_container {
    background: #2b3400;
    border: none;
}
.panel#runes .rune_container .rune_centerer div {
    color: #d2ff00;
}

@media (hover: hover) {
    .rune_container:hover {
        transform: scale(1.02);
    }
    .rune_container:active {
        transform: scale(1);
    }
}
@media (hover: none) {
    .rune_container:active {
        transform: scale(1.01);
    }
}
.panel#runes .exit_btn {
    top: 0;
    right: -80px;
}
@media only screen and (max-width: 850px) {
    .panel#runes .open_content .main_content_scroll {
        grid-gap: 5px;
    }
    .panel#runes .exit_btn {
        top: 10px;
        right: 10px;
    }
}

/* ******************* */
/* ******************* */
/* ******************* */
/* DIALOGUE BOX */
/* ******************* */
/* ******************* */
/* ******************* */

body[data-captions="false"] #textbox_container {
    display: none;
}

#textbox_container {
    max-width: 400px;
    width: calc(100% - 8px);
    position: absolute; /* required for moving */
    user-select: none;
    touch-action: none; /* prevents weird iOS scrolling while dragging */
    z-index: 1;
}
#textbox_container[active="1"] {
    animation: popIn 0.2s 0.7s cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: both;
}
@keyframes popIn {
    0% {
        opacity: 0;
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
#textbox_container[active="0"] {
    opacity: 0;
    pointer-events: none;
}
#textbox_container canvas {
    background: #000;
    image-rendering: pixelated;
    display: block;
    width: 100%;
}
#textbox_container .move_textbox {
    position: absolute;
    top: 13%;
    left: 0;
    width: 100%;
    height: 72%;
    cursor: grab;
}
#textbox_container .move_textbox.top_bar {
    top: 0;
    width: 92%;
    height: 13%;
}
#textbox_container .textbox_button {
    all: unset;
    position: absolute;
    cursor: pointer;
}
#textbox_container .textbox_button.next {
    bottom: 2%;
    right: 1%;
    width: 14%;
    height: 13%;
}
#textbox_container .textbox_button.exit {
    top: 0%;
    right: 0%;
    width: 8%;
    height: 13%;
}
@media (hover: hover) {
    #textbox_container .textbox_button:hover {
        background: #ffffff30;
    }
}
#textbox_container .textbox_button:active {
    background: white;
}


/* ABOUT SECTION */

section#about {
    pointer-events: none;}

/* POPUP MESSAGE */

#popupmessage {
    position: fixed;
    z-index: 10000;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}
#popupmessage .popup {
    padding: 16px;
    background: black;
    position: absolute;
    animation: popIn 0.2s cubic-bezier(0, 0, 0, 1), fadeIn 0.2s 0.5s reverse cubic-bezier(0, 0, 0, 1);
    animation-fill-mode: both;
}
